body{font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #333;}
h1{margin: 5px 0; padding: 0;}
a{color: #F90;}

.to-flips {width: 95%;height: 1500px; margin: 20px; padding: 10px;}
.to-flips .content{height: 90%; position: relative; overflow: hidden;}
.to-flips .content .grey{color: #999;}
.to-flips .content .block{width: 100%; position: absolute; top: 0px; display: block; overflow: hidden;}
.to-flips .flipnav{margin: 0 0 0 70px;}
.to-flips .flipnav .btn-left, 
.to-flips .flipnav .btn-right,
.to-flips .flipnav .btn-left-dis, .btn-right-dis {width: 30px; height: 30px; background: #ccc; color: #fff; float: left; font-size: 16px; text-align: center; cursor: pointer; margin-left: 30%;}
.to-flips .flipnav .btn-left-dis, .to-flips .flipnav .btn-right-dis {color: #fff; background: #fff; cursor: default;}

#loadDiv {
	position: fixed;
	margin-left: .2%;
	left: 0px;
	width: 97.7%;
	height: 78%;
	z-index: 9999;
	background: url('../images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}