body{font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #333;}
h1{margin: 5px 0; padding: 0;}
a{color: #F90;}

.too-flips {width: 95%;height: 200px; text-align: center;}
.too-flips .content{height: 90%; position: relative; overflow: hidden;}
.too-flips .content .grey{color: #999;}
.too-flips .content .block{width: 100%; position: absolute; top: 0px; display: block; overflow: hidden;}
